body {

    background-image: url("yanko-peyankov-58459-unsplash.jpg");
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    font-family: 'Lalezar', cursive;




}

label {
    color: black;
    background-color: #005cbf;

}

#total{
   background-color: #1c7430;

}
